body,html{
    height: 100%;
    margin: 0;}

body{
    background-size:cover;
    background-image: url(../image/background.jpg)

}

.login
{ background-color: rgba(255,255,255,0.3);
    margin:auto;
    height: 380px;
    width: 600px;
    position: relative;
    top: 300px;
    text-align: center;
    border:#0000FF;
}
h1{
    margin: 0;
    padding-top: 50px;
    padding-bottom: 30px;
    border-bottom: white 3px solid;
    color:#00CED1;
}

.login-content
{
    color:#00CED1;
}
input{
    height: 30px;
    width: 300px;
    margin:20px;
    font-size: 14px ;
    border-radius: 8px;
}
button{
    font-weight:bold;
    border-top-left-radius:0.9em;
    border-top-right-radius:0.9em;
    border-bottom-left-radius:0.9em;
    border-bottom-right-radius:0.9em;
    cursor: pointer;
    background-color:#ffffff;
    color:#DFECA3;
    height: 30px;
    width: 80px;/*设置按钮的长和宽*/
}